<%= render "layouts/header", home: @home %>

<h2 style="text-align: center; padding: 25px;">Chi tiết sản phẩm</h2>

<div class="row" style="margin: 50px;">
	<div class="col-sm-3 box">
			<div style="width: 100%;">
				<%= image_tag(@product.image, style: 'width:300px; height: 300px;') %>
			</div>
	</div>
	<div class="col-sm-7 box">
			<div style="width: 100%;">
				<b><p>Tên sản phẩm: <%= @product.name %></p></b>
				<p>Số lượng còn: <%= @product.soluong %></p>
				<p>Đơn giá: <%= @product.dongia %></p>
				<p>Mô tả sản phẩm: <%= @product.mota %></p>
			</div>
			<br>
			<br>
			<button type="button" class="btn btn-success">Thêm vào giỏ hàng</button>
	</div>
</div>



<%= render "layouts/footer", home: @home %>